# Todos los archivos de funcionamiento de Visual Studio
.vs/
bin/
obj/

# Todos los archivos insumo
**/*.log
**/*.tmp
**/.
.vs/Quien Da Mas(definitivo)/FileContentIndex/3efee7a0-6ffc-42c5-960f-3556e2be6a09.vsidx
*.sqlite
